body {
    font-family: Arial, sans-serif;
    background-color: maroon;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse:dashed;
    width: 95%;
    margin: auto;
    background-color: blue;
}

th, td {
    border: 1px dotted black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: green;
}

.lunch {
    background-color: yellow;
    font-weight: italic;
}
